* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Rubik", sans-serif;
}

@mixin input-size {
    color: #fff;
    border: 1px solid #555;
    border-radius: 6px;
}

.container-plan {
    max-width: 1110px;
    margin: 0 auto;
}

.travel-plan {
    background: #040e27;
    padding: 50px 0;
    max-width: 100%;
    height: auto;
    .travel-input {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        align-items: center;
        .plan-text {
            h1 {
                color: #fff;
                font-size: 22px;
                padding: 10px 0;
                font-weight: bold;
            }
        }
        .plan-info{
            max-width: 100%;
        }
        input,
        select {
            margin-left: 10px;
            height: 51px;
            padding: 10px;
            background-color: #040e27;
            @include input-size;
        }
        .travel-search {
            @include input-size;
            width: 110px;
            height: 51px;
            margin: 10px;
            background-color: #ff4a52;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                background-color: #1ec6b6;
                transition: 0.5s;
            }
        }
    }
}


@media only screen and (max-width: 992px) {
    .container-plan {
        width: 100%;
        padding: 0 50px;
        .travel-input {
            padding: 0 50px;
            .plan-text {
                width: 100%;
                padding-left: 11px;
            }
            .plan-info{
                width: 100%;
                input, select{
                    width: 130px;
                }
            }
        }
    }
}

@media only screen and (max-width: 786px) {
    .travel-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        .plan-info {
            display: flex;
            flex-direction: column;
            input, select{
                width: 80% !important;
                margin-bottom: 15px;
            }
        }
    }
}